{% extends "base/user_base.html" %}
{% load static %}
<body class="{% block body_class %}nav-md {% endblock body_class %}">
{% block body %}
  <div class="container body">
    <div class="main_container">

      {% block sidebar %}
        <div class="col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="/" class="site_title"><i class="fa fa-star"></i> <span>Penetration Test</span></a>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      {% endblock sidebar %}

      {% block top_navigation %}
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                     aria-expanded="false">
                    <img src="/static/images/img.jpg" alt="">{{ request.user.username }}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    {% if user.is_authenticated %}
                      <li><a href="{% url 'users:user_info' %}">Profile</a></li>
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                      <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                  </ul>
                </li>

              </ul>
            </nav>
          </div>
        </div>
      {% endblock top_navigation %}

      {% block content %}
        <section>
          <div class="c-box">
            <div class="profile-box">

              <form role="form" autocomplete="off">
                <ul class="right">
                  <li>Username:
                    <input type="text" name="username" id="username"
                       value="{{ request.user.username|default_if_none:'' }}" maxlength="10">
                    <i class="error-tips"></i>
                  </li>
                  <li>Birthday:&nbsp;&nbsp;&nbsp;
                    <input type="text" id="birth_day" name="birthday" value="{{ request.user.birthday|date:'Y-m-d' }}"
                           readonly="readonly"/>
                    <i class="error-tips"></i>
                  </li>
                  <li>Gender:
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="male"
                                                                {% ifequal request.user.gender "male" %}checked="checked"{% endifequal %}>Male</label>
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="female"
                                                                      {% ifequal request.user.gender "female" %}checked="checked"{% endifequal %}>Female</label>
                  </li>
                  <li>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="borderno" type="text" name="email" readonly="readonly" value="{{ request.user.email }}"/>
                  </li>
                </ul>
                {% csrf_token %}
              </form>
              <a class="index-font" href="{% url 'index' %}">Back home</a>
          </div>
          </div>
        </section>
      {% endblock content %}

      {% block footer %}

      {% endblock footer %}
    </div>
  </div>

    <!-- jQuery -->
    <script src="/static/vendors/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/vendors/bootstrap/js/bootstrap.min.js"></script>

    <!-- bootstrap-daterangepicker -->
    <script src="/static/vendors/moment/moment.min.js"></script>
    <script src="/static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datatable -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    {% block javascripts %}
    {% endblock javascripts%}
    <!-- Custom Theme Scripts -->
    <script src="/static/custom/js/custom.js"></script>
    <script src="{% static '/custom/js/unslider.js' %}" type="text/javascript"></script>
    <script src="{% static '/custom/js/login.js' %}"  type="text/javascript"></script>
{% endblock body %}
</body>

</html>
